<form (ngSubmit)="onSubmit()" #usuarioForm="ngForm">
    <ui-card style="max-width: 600px; margin: auto;">
        <ui-toolbar class="flat">
            <button type="button" class="ui-button flat icon" routerLink="/usuarios">
                <i class="material-icons">arrow_back</i>
            </button>
        </ui-toolbar>

        <ui-card-content>
            <div class="ui-flex-container break-on-s960">
                <ui-input-container style="max-width: 600px;">
                    <input uiInput type="text" [(ngModel)]="usuario.nome" name="nome" autocomplete="off" required>
                    <label>Nome</label>
                </ui-input-container>
            </div>

            <div class="ui-flex-container break-on-s960">
                <ui-input-container style="max-width: 150px;">
                    <input uiInput type="text" [(ngModel)]="usuario.cpf" name="cpf" autocomplete="off" uiMaskCpf required>
                    <label>CPF</label>
                </ui-input-container>
            </div>

            <ui-input-container style="width: 400px;">
                <input uiInput type="text" [(ngModel)]="usuario.email" name="email" autocomplete="off" required>
                <label>E-mail</label>
            </ui-input-container>
        </ui-card-content>
    </ui-card>

    <div class="ui-fab-container">
        <button type="submit" class="ui-button primary fab" [disabled]="!usuarioForm.form.valid">
            <i class="material-icons">{{ usuarioForm.form.valid ? 'save' : 'block' }}</i>
        </button>
    </div>
</form>